* {
  box-sizing: border-box;
}


.page {
  display: flex;
  margin-left: 10%;
}

.post-main {
  flex: 3;
  left: 0;
  margin-right: 10%;

}
code{
  background-color: #f7f7f7;
}

.toc-aside{
  flex: 1;

}


.post-toc {
  position: sticky;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
}



.main-nav {
  text-align: center;

}

.main-nav a {
  font-size: 20px;
  padding: 20px;
}